	
html, body{
	width: 100%;
	height: 100%;
	padding:0; 
	margin:0; 
}
/*mise en palce du header*/
header
{
	position: fixed;
	width: 100%;
	height: 100px;
	margin-top:-20px;
	background: #ffffff;
	margin-bottom:100px;
	z-index: 100;
	padding-top: 21px;
}
/*bloc_page avec un display flex pour le logo et le menu*/
#bloc_page{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
#logo
{
    margin-top: 20px;
    margin-left:10%;
}
#nav nav ul
{
	margin-top: 0px;
	margin-right: 100px;
}
#nav nav li{
	display: inline-block;
	margin-top: 0;
	padding-top: 37px;
	height: 40px;
}
#nav nav a {
	font-family: Roboto;
	font-weight: 500;
	font-size: .9em;
	text-align: center;
	color:#848484;
	list-style-type: none;
	text-decoration: none;
	padding-top: 36px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 20px;
}
/*j'applique un hover sur le menu*/
#nav a:hover {
	color: #555555;
	border-top: solid 10px #5cadd3;
}


/*section accueil*/
#accueil{
	padding-top: 100px;
	height: 560px;
}
/*je cache les boutons radio*/
#i1, #i2{ display: none;}
.container{
		margin: 0 auto;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 38%;
	  	user-select: none;
		background-color: #1c1c1c;
		display: flex;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 35px;
    	height: 70px; 
    	position: absolute;
    	top: 45%;
    	background: #010101;
    	opacity: 0.2;
    	z-index: 99;
		cursor: pointer;
		text-align: center;
	}

	.next{
		border-top-left-radius: 100px;
     	border-bottom-left-radius: 100px;
		right: 0;	
	}
	.prev{
		border-top-right-radius: 100px;
    	border-bottom-right-radius: 100px;
		left: 0;
	}
	.chevron{
		display: flex;
    	margin-top: -19.9%;
    	justify-content: space-between;
    	margin-right: 1.6%;
    	color: white;
	}
	.chevron_left{
		position: relative;
	}
	.chevron_right{
		position: relative;
	}
	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

	.text_slide h1{
		font-family: Roboto;
		font-weight: 800;
		position: absolute;
		font-size: 2.5em;
		bottom: 425px;
		left: 10%;
		width: 40%;
		color: #ffffff;
		top: 20%;
}
.webagency{
	color: #5cadd3;
}
.text_slide p{
	font-family: Roboto;
	font-weight: 500;
	font-size: 0.9em;
	position: absolute;
	left: 10%;
	width: 40%;
	bottom: 445px;
	color: #ffffff;
	top: 45%;
}
.text_slide button{
	background: #5cadd3;
	width: 125px;
	height: 42px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 3px 0px #4494bb;
	position: absolute;
	bottom: 440px;
	left: 10%;
	border-radius:3px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	top: 55%;
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

/* section services*/
#services{
	padding-top: 100px;
}
/*dimention de la div nos services*/
.nos_services
{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 55px;
	padding-top: 100px;
	
}
/*titre H2*/
.definitions h2
{
	text-align: center;
	font-family: Roboto;
	font-weight: 800;
	font-size: 45px;
	color: #020202;
}
/*dessin du cursseur*/
.curseur1
{
	border-top: 1px solid #d9d9d9; 
	width : 10%;
	position: relative;
	margin-left: 45%;
	top: 2px;
}
.curseur2
{
	
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	bottom: 8px;
  	left: 49.4%;
  	position: relative;
 }
/*paragraphe de presentation*/
.paragraphe
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 40%;
	text-align: center;
	max-width: 70%;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
	position: relative;
	line-height: 180%;
}

/*block flex*/
.design{
	display: flex;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-top: 50px;
}

/*dimention de la div actions*/
.actions{
    width: 40%;
    margin-left: 10%;
}


.actions h3
{
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
	color: #020202;
	margin-bottom: -5px;
	
}
.actions p
{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
	line-height: 180%;
	
}
/*mis en place des cercles gris des différentes parties ui ux seo*/
.ico_ux
{
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
.ico_ui
{
	
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
.ico_seo
{
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
/*mis en place des differentes parties ui ux seo*/
.ux
{
	position: relative;
}
.ui
{
	position: relative;
	margin-top: 40px;
}
.seo
{
	position: relative;
	margin-top: 40px;
}
/*dessins des ronds bleus*/
.ico2_ux
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}

.ico2_ui
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}
.ico2_seo
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}

/*mis en places des typos fontawesom*/
.font{
	color: #5cadd3;
	position: absolute;
  	margin-left: 16px;
  	margin-top: 16px;
}


/* section portfolio*/
#portfolio{
	top:100px;
	padding-top: 100px;
	position: relative;
	background: #f5f5f5;
	padding-bottom: 100px;
}
.nos_projets	
{
	width: 100%;
	height: 30%;
	position: absolute;
}
.nos_projets h2
{
	text-align: center;
	font-family: Roboto;
	font-weight: 800;
	font-size: 45px;
	color: #020202;
}
/*dessin du cursseurs*/
.curseur1_portfolio
{
	border-top: 1px solid #d9d9d9; 
	width : 10%;
	position: relative;
	margin-left: 45%;
	top: 115px;
}
.curseur2_portfolio
{
	
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	margin-top: 105px;
  	left: 49.4%;
  	position: absolute;
 }
 /*paragraphe de presentation*/
 .portfolio_p
 {
 	text-align: center;
 	margin-top: 150px;
 	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
 }
 /*mis en place des cards*/
.images_portfolio{
	top:40px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	height: 650px;
}

.groupe_images img{
	width: 260px;
	height: 175px;


}
/*mis en place de la partie en hover avec un opacity de 0*/
.overlay_image{
	width: 260px;
	height: 175px;
	display: inline-flex;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
}
.overlay_image .hover_image {
	font-family: Roboto;
	font-weight: 800;
	text-align: left;
	left: -250px;
	position: relative;
	margin-top: 95px;
	opacity: 0;
	color: #ffffff;
	z-index: 1;

}
.overlay_image h2{
	font-size: 1.2em;
	
}
.overlay_image p{
	font-size: 1em;
	margin-top: -10px;
	
}
.rectangle_hover{
	width: 260px;
	height: 59px;
	background: #70582a;
	position: relative;	
	opacity: 0;
	margin-left: -10px;
	margin-top: -325px;
	z-index: -1;
}
.eyes_hover{
	color: #ffffff;
	background:#5cadd3;
	border: 1.5px solid #ffffff;
 	width:35px;
  	height:35px;
  	border-radius:50%;
  	margin-left: 80%;
  	margin-top: 240px;
  	bottom: 303px;
  	position: relative;
  	opacity: 0;
  	z-index: 100;
 }
 .eyes_hover i{
 	margin-top:10px;
 	margin-left: 8px;
 	z-index: 100; 
 }
 /*opacity de 1 et 0.7 quand hover afin de voir les element caché*/
 .overlay_image:hover .hover_image{
 	opacity: 1;
 }
 .overlay_image:hover .rectangle_hover{
 	opacity: .7;
 }
.overlay_image:hover .eyes_hover{
	opacity: 1;
}

/*affichages des cards quand checked*/
#p1:checked ~ #p_one {display: block}
#p2:checked ~ #p_two {display: block}
#p3:checked ~ #p_three {display: block}
#p4:checked ~ #p_four {display: block}
#p1:checked ~ #p_two, #p_three, #p_four{display: none}
#p2:checked ~ #p_one, #p_three, #p_four{display: none}
#p3:checked ~ #p_one, #p_two, #p_four{display: none}
#p4:checked ~ #p_one, #p_two, #p_three{display: none}

/* Cachons la case à cocher */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
 
/* on prépare le label */
[type="radio"]:not(:checked) + label, .all_works, .creative, .corporate, .portfolio,
[type="radio"]:checked + label, .all_works, .creative, .corporate, .portfolio{
   	cursor: pointer;
  	height: 40px;
 	padding: 12px 16px;
 	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	background: #e5e5e5;
}



[type="radio"]:not(:checked) + label, .triangle_position,
[type="radio"]:checked +label, .triangle_position{
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid #4494bb;
    margin-left: 40%;
    margin-top: 9px;
    opacity: 0;   
}
/*mis en place du focus quand checked*/
#p1:checked ~ .bouton #all_works .all_works {
	background-color: #5cadd3;
  	color: white;
 	box-shadow: 0px 3px 0px #4494bb;
}
#p1:checked ~ .bouton #all_works .triangle_position {
	opacity: 1;
}

#p2:checked ~ .bouton #creative .creative {
	background-color: #5cadd3;
  	color: white;
 	box-shadow: 0px 3px 0px #4494bb;
}
#p2:checked ~ .bouton #creative .triangle_position {
	opacity: 1;
}

#p3:checked ~ .bouton #corporate .corporate {
	background-color: #5cadd3;
  	color: white;
 	box-shadow: 0px 3px 0px #4494bb;
}
#p3:checked ~ .bouton #corporate .triangle_position {
	opacity: 1;
}

#p4:checked ~ .bouton #portfolio_menu .portfolio {
	background-color: #5cadd3;
  	color: white;
 	box-shadow: 0px 3px 0px #4494bb;
}
#p4:checked ~ .bouton #portfolio_menu .triangle_position {
	opacity: 1;
}

.bouton{
	margin-bottom: 25px;
	margin-left:auto;
	font-size:0;
	display:inline-flex;
}
/*indication de l'arondi pour les deux bouttons extreme*/
.portfolio
{
 
  border-radius: 0px 5px 5px 0px;
}

.all_works
{
	border-radius: 5px 0px 0px 5px; 
}



/* section contact*/
#contact{
	top:2650px;
	padding-top: 100px;
}
#contact{
	width: 100%;
	height: 100%;
	}
/*mis en place de la carte*/
.carte .filtre{
	width: 95%;
	height: 625px;
	background: #80b6ef;
	opacity: 0.3;
	position: absolute;
}
.carte iframe{
	height: 625px;
	width: 95%;
	margin: auto;
	position:absolute;
	z-index: -1;
}

/*mis en place du formulaire*/
.form form {
  
  margin-left: 60%;
  margin-top: 30px;
  width: 400px;
  padding: 1em;
  background: #e7f1fc;
  opacity: 0.90;
  position: relative;
  width: 360px;
  height: 530px;

}
.form h3{
	margin-top: -5px;
	font-family: Roboto;
	font-weight: 800;
	font-size: 24px;
	color: #7d8084;
}
.form p{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;

}

.form form div + div {
  margin-top: 5px;
}

.form label {
  
  display: inline-block;
  width: 90px;
  text-align: right;
}

.form input, textarea {
  
  font:1em Roboto;
  height: 33px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
}

textarea {
  vertical-align: top;
  height: 10em;
  
}



.button_contact button {
  background: #5cadd3;
	width: 114px;
	height: 27px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 3px 0px #4494bb;
	position: relative;
	bottom: 505px;
	left: 10%;
	border-radius:3px;
	position: absolute;
	top: 510px;
	left: 16px;
	color: white;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
}
@media only screen and (max-width:1190px){
	.text_slide h1{
		font-size: 1.5em;
	}
	.text_slide p{
		top: 40%;
	}
	.chevron{
		margin-top: -19.5%;
	}
	.design{
		justify-content: center;
	}
	.actions{
		width: 60%;
		margin-left: 0;
	}
}
@media only screen and (max-width:900px){
	
	body{
		margin: auto;
	}
	header
	{
		width: 100%;
		position: static;
	}
	#bloc_page{
		justify-content: center;
	}
	
	
    #nav{
		font-size: 2em;
		background: #ebebeb;
		margin: 30px auto;
		width: 100%;
	}
	
	#nav nav ul{
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
	}
	#nav nav li{
		display: flex;
		height:15px;
		justify-content: center;
    	
	}
	
	#nav nav a{
		padding-top: 0;
		
	}
		
		#nav a:hover {
			border-top: 0px;
			
		}


	#accueil{
		display:none;
	}
	#services{
		margin-top: 350px;
    	width: 100%;
    	padding-top: 0;
    }
	.nos_services
	{
		width: 100%;
		height: 30%;
		position: absolute;
		padding-top: 100px;
	}
	#services .definitions h2{
		font-size: 2em;
	}
	#services .paragraphe{
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		text-align: center;
		max-width: 70%;
		font-family: Roboto;
		font-weight: 500;
		color: #7d8084;
		position: relative;
		max-width: 90%;
		width: 90%;
		font-size: 1.3em;

	}
	
	.dessin{
		display: none;
	}
	.design {
		margin-right: 10%;
	}
	.design .actions{
		top: 750px;
    	width: 100%;
		height: 0;
    	min-width: 0;
    	left: 0;
	}
	.actions h3{
		font-size: 1.5em;
		text-align:center;
		margin-top: 50px;
	}
	.actions p{
		font-size: 1em;
		text-align:center;
		margin: 30px auto;
	}
	
	.ico_ui, .ico_ux, .ico_seo{
		float: none; 
    	margin-right: 0px;
    	margin: auto;
    	width: 50px;
    	height: 50px;

	}
	.ico2_ui, .ico2_ux, .ico2_seo{
		border: 4px solid #ffffff;
    	width: 8px;
    	height: 8px;
    	margin-left: 55%;
    	margin-top: -32px;
	}
	.font{
		margin: auto;
    	margin-top: -40px;
    	font-size: 90%;
    	position: relative;
	}


	.bouton{
		flex-direction: column;
		
	}
	#portfolio{
		width: 100%;
		text-align: center;
		top:800px;
		background: #f5f5f5;
		margin: auto;
	}
	.nos_projets,.portfolio_p{
		width: 100%;
		
	}
	#portfolio .nos_projets h1 {
		font-size: 2em;
	}
	.portfolio_p
	{
		font-size: 1.3em;
		margin-top: 90px;
		
	}
	
	
	label{
		line-height: 185%;
		
		
	}
	 .all_works{
		font-size: 40px;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom:20px; 
		border-radius: 0px 0px 0px 0px;
		box-shadow: none;
	}
	.creative{
		font-size: 40px;
		padding: 12px 41px;
	}
	.corporate{
		font-size: 40px;
		padding: 12px 26px;
	}
	.portfolio{
		font-size: 40px;
		padding: 12px 36px;
	}
	
	.groupe_images{
		background: #f5f5f5;
		width: 100%
	}
	
	.images_portfolio{
		width: 100%;
		background: #f5f5f5;
	}
	
	

	.overlay_image{
	   	height: auto;
    	display: flex;
    	margin: auto;
    }
    .overlay_image .hover_image{
    	display: none;
    }    
    .triangle_position{
    	display: none;
    }
   #contact{
   	margin-top: 2000px;
   	}

	.carte{
		position: relative;
		top: 0px;
		-webkit-filter:blue 100%;
	}
	.form{
		position: relative;
		top: 700px;
		height: 1050px;
	}
	.form form{
		top:30px;
		width: 90%;
		height: 550px;
		margin: 0 auto;
		position: relative;
		font-size: 1em;
	}
	.form h1{
		font-size: 1.5em;
	}
	.form p{
		font-size: 1em;
	}
	.button_contact button{
		bottom: 30px;
		margin: auto;
		width: 90%;
		height: 40px;
		font-size: 1em;
		
	}
}






