	
html, body{
	width: 100%;
	height: 100%;
	padding:0; 
	margin:0; 
}


header
{
	position: fixed;
	width: 100%;
	height: 100px;
	margin-top: 0;
	background: #ffffff;
	margin-bottom:100px;
	z-index: 100;
	
}

#logo
{
    margin-top: 10px;
    margin-left:10%;
    float:left;
}
#nav nav ul
{
	margin-left: 62%;
	margin-top: 0px;
}
#nav nav li{
	display: inline-block;
	margin-top: 0;
	padding-top: 37px;
	width: 75px;
	height: 40px;
	text-align: center;
}	
#nav nav a {
	font-family: Roboto;
	font-weight: 500;
	font-size: .9em;
	text-align: center;
	color:#848484;
	list-style-type: none;
	text-decoration: none;
	padding-top: 36px;
	width: 100%;
}
#nav a:hover {
	color: #555555;
	border-top: solid 3px #5cadd3;

}

#accueil{
	padding-top: 100px;

	height: 560px;
}
.slide{
	margin: 0 auto;
	position: relative;
	width:100%;
	height: 100%;
	padding-bottom: 0%;
	background: #4c4c4c;
	
}
.slider{
	position: absolute;
	width: 100%;
	height:100%;
}
.slider img{
	width: 100%;
	height: 100%;
}
#i1, #i2{
	display: none;
}
.pre, .nxt{

	width: 35px;
    height: 70px; 
    position: absolute;
    top: 45%;
    background: #010101;
    opacity: 0.2;
    filter: alpha(opacity=20);
    z-index: 99;
	cursor: pointer;
}
.pre{
	border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
	left: 0;
	
}
.nxt{
	border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
	right: 0;
	
}
.slider{
	z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two{
	z-index: 9;
}



.slider h1{
	font-family: Roboto;
	font-weight: 800;
	position: relative;
	font-size: 2.5em;
	bottom: 425px;
	left: 10%;
	width: 40%;
	color: #ffffff;
}
.webagency{
	color: #5cadd3;
}
.text{
	font-family: Roboto;
	font-weight: 500;
	font-size: 0.9em;
	position: relative;
	left: 10%;
	width: 40%;
	bottom: 445px;
	color: #ffffff;
	
}

.plus_d_infos{
	background: #5cadd3;
	width: 125px;
	height: 42px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 3px 0px #4494bb;
	position: relative;
	bottom: 440px;
	left: 10%;
	border-radius:3px;

}
.plus_d_infos a{
	font-family: Roboto;
	font-weight: 500;
	font-size: 1.4em;
	color: #ffffff;
	text-decoration: none;
}
.bordure1{
	width: 10%;
	height: 5px;
	background :#5cadd3;
	position: relative;
	bottom: 234px; 
}
.bordure2{
	height: 5px;
	width: 90%;
	background: black;
	opacity: 0.2;
    filter: alpha(opacity=20);
    position: relative;
    bottom: 239px;
    left: 10%;
}
.gauche{
	bottom: 527px;
	position: relative;
	left: 0.3%;
	color: #ffffff;

}
.droite{
	bottom: 527px;
	position: relative;
	left: 98.5%;
	color: #ffffff;
}



/*services*/
#services{
	top:70px;
	position: relative;
	padding-top: 100px;
}
.nos_services
{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 55px
	padding-top: 100px;
	
}
.definitions h1
{
	text-align: center;
	font-family: Roboto;
	font-weight: 800;
	font-size: 45px;
	color: #020202;
}
.curseur1
{
	border-top: 1px solid #d9d9d9; 
	width : 10%;
	position: relative;
	margin-left: 45%;
	top: 2px;
}
.curseur2
{
	
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	margin top: 10px;
  	bottom: 8px;
  	left: 49.4%;
  	position: relative;
 }

.paragraphe
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 40%;
	text-align: center;
	max-width: 70%;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
	position: relative;
	line-height: 180%;
}
.design
{
	width: 50%;
	height:50%;
	min-width: 600px;
	top: 1050px;
	position:absolute;
	left: 10%;
}

.actions
{
	width: 40%;
	height: 50%;
	min-width: 600px;
	left:50%;
	position: absolute;
	top: 1100px;
}
.actions h1
{
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
	color: #020202;
	margin-bottom: -5px;
	
}
.actions p
{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
	line-height: 180%;
	
}
.ico_ux
{
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
.ico_ui
{
	
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
.ico_seo
{
	border: 1.5px solid #d9d9d9;
	border-radius:50%;
  	width:63px;
  	height:63px;
  	left: 0%;
  	position: relative;
  	float: left;
  	margin-right: 30px;
}
.ux
{
	position: relative;
}
.ui
{
	position: relative;
	margin-top: 40px;
}
.seo
{
	position: relative;
	margin-top: 40px;
}
.ico2_ux
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}

.ico2_ui
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}
.ico2_seo
{
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	position: absolute;
  	margin-left: 56px;
  	margin-top: 24px;
}
.font{
	color: #5cadd3;
	position: absolute;
  	margin-left: 16px;
  	margin-top: 16px;
}

/*portfolio*/
#portfolio{
	top:550px;
	padding-top: 100px;
	position: relative;
}
.nos_projets	
{
	width: 100%;
	height: 30%;
	position: absolute;
	
}
.nos_projets h1
{
	text-align: center;
	font-family: Roboto;
	font-weight: 800;
	font-size: 45px;
	color: #020202;
}
.curseur1_portfolio
{
	border-top: 1px solid #d9d9d9; 
	width : 10%;
	position: relative;
	margin-left: 45%;
	top: 115px;
}
.curseur2_portfolio
{
	
	background:#5cadd3;
	border: 3px solid #ffffff;
 	border-radius:50%;
  	width:14px;
  	height:14px;
  	margin-top: 105px;
  	left: 49.4%;
  	position: absolute;
 }
 .portfolio_p
 {
 	text-align: center;
 	margin-top: 150px;
 	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #7d8084;
 }
 
.images_portfolio{
	top:40px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	height: 650px;

}
.groupe_images{
	position: relative;
	width: 100%;
	height:100%;
	min-width: 260px;


}
.groupe_images img{
	width: 260px;
	height: 175px;

}
.overlay_image{
	width: 260px;
	height: 175px;
	display: inline-flex;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
}
.overlay_image .hover_image {
	font-family: Roboto;
	font-weight: 800;
	text-align: left;
	left: -250px;
	position: relative;
	margin-top: 105px;
	opacity: 0;
	color: #ffffff;
	z-index: 1;

}
.overlay_image h1{
	font-size: 1.2em;
	
}
.overlay_image p{
	font-size: 1em;
	margin-top: -10px;
	
}
.rectangle_hover{
	width: 260px;
	height: 59px;
	background: #70582a;
	position: relative;	
	opacity: 0;
	margin-left: -10px;
	margin-top: -325px;
	z-index: -1;
}
.eyes_hover{
	color: #ffffff;
	background:#5cadd3;
	border: 1.5px solid #ffffff;
 	width:35px;
  	height:35px;
  	border-radius:50%;
  	margin-left: 80%;
  	margin-top: 240px;
  	bottom: 303px;
  	position: relative;
  	opacity: 0;
  	z-index: 100;
 }
 .eyes_hover i{
 	margin-top:10px;
 	margin-left: 8px;
 	z-index: 100; 
 }
 .overlay_image:hover .hover_image{
 	opacity: 1;
 }
 .overlay_image:hover .rectangle_hover{
 	opacity: .7;
 }
.overlay_image:hover .eyes_hover{
	opacity: 1;
}


#p1:checked ~ #p_one {display: block}
#p2:checked ~ #p_two {display: block}
#p3:checked ~ #p_three {display: block}
#p4:checked ~ #p_four {display: block}
#p1:checked ~ #p_two, #p_three, #p_four{display: none}
#p2:checked ~ #p_one, #p_three, #p_four{display: none}
#p3:checked ~ #p_one, #p_two, #p_four{display: none}
#p4:checked ~ #p_one, #p_two, #p_three{display: none}

#p1, #p2, #p3, #p4{
	display: none;
}
.bouton{
	margin-bottom: 25px;
	margin-left: 0 auto;
	font-size:0;
	display:inline-flex;
}
.all_works, .creative, .corporate, .portfolio {
	background-color: #e5e5e5;
  	cursor: pointer;
  	height: 40px;
 	padding: 12px 16px;
 	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
}
.portfolio
{
 
  border-radius: 0px 5px 5px 0px;
}

.all_works
{
	border-radius: 5px 0px 0px 5px; 
}
 .all_works:hover, .creative:hover, .corporate:hover, .portfolio:hover {
  background-color: #5cadd3;
  color: white;
  box-shadow: 0px 3px 0px #4494bb;
}
.triangle_position{
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid #4494bb;
    margin-left: 40%;
    margin-top: 9px;
    opacity: 0;
}
#all_works:hover .triangle_position{
	opacity: 1;
}
#creative:hover .triangle_position{
	opacity: 1;
}
#corporate:hover .triangle_position{
	opacity: 1;
}
#portfolio_menu:hover .triangle_position{
	opacity: 1;
}

/*contact*/
#contact{
	position: absolute;
	top:2700px;
	padding-top: 100px;
}
#contact{
	width: 100%;
	height: 100%;
	left:2.5%;
}
.carte{
	height: 625px;
	width: 95%;
	margin: auto;
	position:absolute;
}


.form form {
  
  margin-left: 60%;
  margin-top: 30px;
  width: 400px;
  padding: 1em;
  background: #e7f1fc;
  opacity: 0.85;
  filter: alpha(opacity=85);
  position: relative;
  width: 360px;
  height: 530px;

}
.form h1{
	margin-top: -5px;
	font-family: Roboto;
	font-weight: 800;
	font-size: 24px;
	color: #00000;
}
.form p{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	color: #00000;

}

.form form div + div {
  margin-top: 5px;
}

.form label {
  
  display: inline-block;
  width: 90px;
  text-align: right;
}

.form input, textarea {
  
  font:1em Roboto;
  height: 33px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
}

textarea {
  vertical-align: top;
  height: 10em;
  
}



.button_contact button {
  background: #5cadd3;
	width: 114px;
	height: 27px;
	border: none;
	cursor: pointer;
	box-shadow: 0px 3px 0px #4494bb;
	position: relative;
	bottom: 505px;
	left: 10%;
	border-radius:3px;
	position: absolute;
	top: 510px;
	left: 16px;
	color: white;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
}
@media only screen and (max-width:1024px){


	#nav{
		display: flex;
		font-size: 2em;
		margin-left:60%;
	}
	#accueil{
		display:none;
	}
	.dessin{
		display: none;
	}
	.design{
		display: none;
	}
	.actions{
		top:500px;
		left:20%;
		
	}
	.ux, .ui, .seo h1, p{
		font-size: 150%;
		text-align:center;
	}
	.ico_ui, .ico2_ui, .ico_ux, .ico2_ux, .ico_seo, .ico2_seo, .font{
		display: none;
	}
	.images_portfolio img{
		width: 260px;
	}
	.carte{
		margin-top: -700px;
		position: relative;
	}
	.form form{
		margin-left: 30%;
		position: relative;
	}
	h1, p{
		font-size:150%;
	}
	
}